<% include ./partials/header.ejs %>

<section class="mt-8">
      <h2 class="text-xl font-bold mb-2">Your Feed</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

        <% posts.forEach((elem)=>{%>
        <div class="bg-white shadow-md rounded-md p-4">
          <img src="/images/uploads/<%= elem.postimage %>" alt="Board Image 1" class="w-full h-48 object-cover rounded-t-md">
          <a href="" class="mt-2 text-xl text-gray-600"><%= elem.title %></a>
        </div>
        <% }) %>
    </section>

<% include ./partials/footer.ejs %>
